@model IEnumerable<Movies.Models.Movie>

<table class="table" id="details-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeadingFemaleRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeadingMaleRole)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Studio)
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeadingFemaleRole.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeadingMaleRole.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Studio.Name)
            </td>
            <td>
                @Ajax.ActionLink("Edit", "Edit", new { id = item.Id },
                    new AjaxOptions
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "partial-content",
                        OnSuccess = "hideCreateButton",
                    }, new { @class = "btn", id = "edit-button-" + item.Id })
                @Ajax.ActionLink("Details", "Details", new { id = item.Id },
                    new AjaxOptions
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "partial-content",
                        OnSuccess = "hideCreateButton",
                    }, new { @class = "btn", id = "edit-button-" + item.Id })
                @Ajax.ActionLink("Delete", "Delete", new { id = item.Id },
                    new AjaxOptions
                    {
                        HttpMethod = "GET",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "partial-content",
                        OnSuccess = "hideCreateButton"
                    }, new { @class = "btn", id = "edit-button-" + item.Id })
            </td>
        </tr>
    }
</table>