@model Movies.Models.Actor

@{
    var genders = new List<SelectListItem>{
        new SelectListItem{ Text = "Male", Value = "0" },
        new SelectListItem{ Text = "Female", Value = "1" }
    };
}

@using (Ajax.BeginForm(
    "Edit",
    "Actors",
    new AjaxOptions
    {
        HttpMethod = "POST",
        OnSuccess = "edited"
    },
    new { id = "form-edit-actor" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Edit Actor</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="control-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Gender, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(model => model.Gender, genders)
                @Html.ValidationMessageFor(model => model.Gender, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Age, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Age)
                @Html.ValidationMessageFor(model => model.Age, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="form-actions no-color">
            <input type="submit" value="Edit" class="btn" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
        </div>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    function edited(data) {
        $("#partial-content").html(data);
        $.get('@Url.Action("IndexPartial","Actors")', function (data) {
            $('#actor-details-table').replaceWith(data);
        });
        $("#create-button").show();
    }
</script>
